/*Site-custom-style*/
body {
  /*font-family: 'Exo', sans-serif;*/
  font-family: 'Poppins', sans-serif;
  color: #000;

}

/*admin login*/
.wp-core-ui{padding:0px !important; background-position:center center;background-repeat:no-repeat;background-size:cover;}
.wp-core-ui div#login h1 a{padding-bottom:0px;width:100%;margin:0px;padding:0;background-position:center;max-width:100%;background-size: contain;border-radius: 5px;border-bottom-right-radius: 0;border-bottom-left-radius: 0;border-top: 3px solid #fff;}
.wp-core-ui div#login #loginform{padding:15px 15px 20px;text-align:left;border:1px solid #BABABA;}
.wp-core-ui form .input, .login input[type=text]{font-size:20px !important}
.wp-core-ui #login_error, .login .message, .login .success{margin-bottom:0;}
.wp-core-ui div#login{text-align:center;padding: 10% 10px;height: 100vh;}
.wp-core-ui form{margin-top:0;}
.wp-core-ui .button.button-large{padding:0 12px 2px !important;}
.wp-core-ui form .input, .login input[type=text]{font-size:16px !important;padding:5px 10px;border-radius:0;}
.wp-core-ui #login_error, .login .message{border-left:4px solid #EB504E;}
.wp-core-ui .the_champ_outer_login_container{display:none;}
.wp-core-ui .button-primary {background: #f68d1f;border-color: #256532;}
.wp-core-ui #wp-submit{color: #fff;border-color: #2c8e40;}
.wp-core-ui .wp-hide-pw{color: #256532;border-color: #2c8e40;}
.wp-core-ui input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus{border-color: #f68d1f;box-shadow: 0 0 0 1px #f68d1f;}
.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover{background: #52F0B6;border-color: #f68d1f;}
.wp-core-ui #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover {color: #f68d1f;}
.wp-core-ui #backtoblog a, .login #nav a{color:#fff;}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(49% - 30px);
  left: calc(49.9% - 30px);
  border-radius: 50%;
  height: 80px;
  width: 60px;
  background-image: url(assets/images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 9;
  /*border: 6px solid #f68d1f;
  border-top-color: #efefef;*/
/*  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
*/
}

/*optional animation on hover toggle button */
.toggle-button {
  position: absolute;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: background-color 0.5s;
  z-index: 1;
}
.toggle-button:hover {
  background-color: rgba(255, 255, 255, 1);
}
.toggle-button.toggle-on {
  background-color: rgba(28, 186, 110, 0.5);
}
.toggle-button.toggle-on:hover {
  background-color: rgba(28, 186, 110, 1);
}
/*optional ends*/
.sitelogo{background-image: url('assets/images/logo.svg');}
.show_loader{display: none;margin-top: 4%;}
.show_loader .ac-animated-svg-icon{width:90px !important;height: 90px !important;padding-bottom: 90px;}
/*--------------------------------------------------------------
#page-not-found
--------------------------------------------------------------*/
.page_404{ padding:40px 0; background:#fff;}
.page_404  img{ width:100%;}
.four_zero_four_bg{background-image: url('assets/images/page_not_found.gif');height: 400px;background-position: center;}
.four_zero_four_bg h1{font-size:80px;}
.four_zero_four_bg h3{font-size:80px;}
.link_404{color: #fff!important;padding: 10px 20px;background: #f68d1f;margin: 20px 0;display: inline-block;}
.contant_box_404{ margin-top:-50px;}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
a {
  color: #24643;
}

a:hover {
  color: #f68d1f;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

a.btn-secondary{color: #f68d1f;}
a.btn-secondary:hover{color: #37b449;}

h1{font-size:45px;}
h2{font-size:32px;}
h3{font-size:26px;}
h4{font-size:20px;}
h5{font-size:18px;}
h6{font-size:14px;}
p{font-size:14px;line-height:28px;outline: none;}
.fs_20{font-size: 20px;}
.bg_blue{background: #555;}
.bg_gray{background: #F2F2F2;}
.bg_red{background: #FF003C;}
.bg_green{background: #55F0B8;}
.bg_orange{background: #f68d1f;}
.bg_white{background: #fff;}

.core h2 {
  margin-top: 30px;
  margin-bottom: 0px;
}
.core h3 {
  margin-top: 25px;
  margin-bottom: 0px;
}
.core h4 {
  margin-top: 20px;
  margin-bottom: 0px;
}
.core h5 {
  margin-top: 15px;
  margin-bottom: 0px;
}
.core h6 {
  margin-top: 15px;
  margin-bottom: 0px;
}
.core p {
  margin-top: 20px;
  margin-bottom: 0px;
}
/*.bg_blue .h2_title, .bg_blue p{color:#fff;}*/

.s_fsize h2{font-size: 28px;}
.s_fsize h3{font-size: 22px;}
.s_fsize h4{font-size: 18px;}

.fs28{font-size: 28px;}
.fs22{font-size: 22px;}
.fs18{font-size: 18px;}

.text-green{color:#f68d1f;}

.hover_white:hover svg g, .hover_white:hover svg path {fill: #fff;}

section .title{
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 25px;
    position: relative;
    width: auto;
    display: inline-block;
	}
.title_line{position: relative;margin-bottom: 20px;}
.title_line:after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -4px;
    width: 60px;
    height: 3px;
    background: #071969;
}
img{max-width:100%;}
.text-black, .text-black:visited{color:#000;}

.site-main{margin-top:80px;}


.btn{font-size:15px;outline:none;}
.btn-primary, .btn-primary:visited{
  padding: 16px 52px;border-radius: 52px;background-color: #f68d1f;border:none;
  color:#fff;
  box-shadow: 0px 10px 20px 0px rgb(246 141 31 / 40%);
    transition: letter-spacing 300ms ease 0ms;

}
.btn-secondary, .btn-secondary:visited{
  padding: 8px 30px;
  border-radius: 50%;
  background-color: #fff;
  color: #f68d1f;
  border-color: #fd8100;
}
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle
{
  transition: all 300ms ease 0ms;
    color: #fff;
    background-color: #fd8100;
}
.btn-secondary:hover {
    color: #37b449;
    background-color: #fff;
    border-color: #37b449;
}
.btn-primary.small {padding: 10px 25px;}
.btn-secondary.small {padding: 10px 25px;}

.btn_hover_white:hover{background: #fff;color:#f68d1f !important;}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.box{transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.back-to-top {position: fixed;display: none;right: 15px;bottom: 15px;z-index: 99999;}

.back-to-top i {display: flex;align-items: center;justify-content: center;font-size: 24px;width: 40px;height: 40px;	background: #f68d1f;color: #fff;transition: all 0.4s;}
.back-to-top i:hover {background: #52f0b6;color: #fff;}


input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"]{height:40px;width:100%;border-radius:0px;padding-left:15px;}
input[type="submit"]{
font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 14px 28px;
    transition: 0.5s;
    color: #fff;
    background: #f68d1f;
    border-radius:25px;
}
input[type="submit"]:hover{background:#3B594D;}
.wpcf7 label{width:100%;}
.wpcf7 textarea{height:100px;width:100%;border-radius:0px;padding-left:15px;}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {transition: all 0.5s;z-index: 997;background:#fff;padding: 13px 20px;
  box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
      -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
      -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
}
#header.header-scrolled {top: 0;padding:0;
  box-shadow: 0 0 30px rgba(7,51,84,0.17);
}
#header .logo {font-size: 16px;margin: 0;padding: 0;line-height: 1;font-weight: 700;letter-spacing: 2px;text-transform: uppercase;}
#header .logo a {color: #fff;}
#header .logo img {
    width: 300px;}
.headercontainer .searchicon{padding-left: 60px;padding-right:0;display: inline-block;}

.header-inner-pages {background: rgba(0, 0, 0, 0.9) !important;}
.page-header{padding: 3% 0;}
.post, .page{margin:0;}
@media (max-width: 992px) {
  #header {top: 0;padding: 15px 0;background: transparent;}
  #header .logo {font-size: 28px;}
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.navigation_container ul {margin: 0;padding: 0;list-style: none;}
.navigation_container > ul {display: flex;}
.navigation_container > ul > li {position: relative;white-space: nowrap;padding: 10px 8px;transition: 0.3s;margin: 0 10px;}
.navigation_container a {display: block;position: relative;color: #20292f;transition: 0.3s;font-size: 15px;}
.navigation_container > ul > li:hover a, .navigation_container .active a{color: #37b449;}
.navigation_container > ul > li:hover ul a{color:#37b449;}
.navigation_container .menu-item-has-children ul {display: block;position: absolute;left: 0;top: calc(100% + 30px);z-index: 99;opacity: 0;
visibility: hidden;padding: 10px 0;background: #fff;box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);transition: 0.3s;}
.navigation_container .menu-item-has-children:hover > ul {opacity: 1;top: 100%;visibility: visible;}
.navigation_container .menu-item-has-children li {min-width: 180px;position: relative;}
.navigation_container .menu-item-has-children ul a {padding: 10px 20px;font-size: 14px;font-weight: 500;text-transform: none;color: #191919;}
.navigation_container .menu-item-has-children ul a:hover, .navigation_container .menu-item-has-children ul .active > a, .navigation_container .menu-item-has-children ul li:hover > a {color: #37b449;}
.navigation_container .menu-item-has-children > a:after {font-family: FontAwesome;content: "\f0d7"; padding-left: 10px;}
.navigation_container .menu-item-has-children .menu-item-has-children ul {top: 0;left: calc(100% - 30px);}
.navigation_container .menu-item-has-children .menu-item-has-children:hover > ul {opacity: 1;top: 0;left: 100%;}
.navigation_container .menu-item-has-children .menu-item-has-children > a {padding-right: 35px;}
.navigation_container .menu-item-has-children .menu-item-has-children > a:after {font-family: FontAwesome;content: "\f0d7";position: absolute;
right: 15px;}
.navigation_container .current_page_parent,
.navigation_container .current_page_item,
.navigation_container li:hover{background:transparent;}


@media (max-width: 1366px) {
  .navigation_container .menu-item-has-children .menu-item-has-children ul {left: -90%;}
  .navigation_container .menu-item-has-children .menu-item-has-children:hover > ul {left: -100%;}
  .navigation_container .menu-item-has-children .menu-item-has-children > a:after {content: "\f0d7";}
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/


#hero {width: 100%;height: 90vh;background:#f68d1f;background-size: cover;position: relative;}
#hero:before {content: "";background: rgba(0, 0, 0, 0.5);position: absolute;bottom: 0;top: 0;left: 0;right: 0;}
#hero .container {margin-top: -25px;}

.home_banner h1 {    font-weight: 400;
    font-size: 80px;
    margin-bottom: 15px;
    color: #fff;max-width:100%;}
.home_banner .para p{    font-size: 24px;
    width: 100%;
    float: left;
    color: #fff;
    margin-bottom: 25px;}
.home_banner .para{max-width: 100%;}
.home_banner .item{background: #f68d1f;}
.owl-nav .owl-prev{outline: none;left:1%;position:absolute;top:48%;background:#f68d1f;color:#fff;font-size:0;padding:15px;}
.owl-nav .owl-next{outline: none;right:1%;position:absolute;top:48%;background:#f68d1f;color:#fff;font-size:0;padding:15px;}
/*.owl-nav .owl-prev:before{content:'\f0d9';font: normal normal normal 20px/1 FontAwesome;}
.owl-nav .owl-next:before{content:'\f0da';font: normal normal normal 20px/1 FontAwesome;}*/
.owl-dots .owl-dot{margin:0 5px;display:inline-block;}
.owl-dots .owl-dot span{width:15px;height:15px;float:left;background:#405191;border-radius:50%;}
.home_banner .owl-dots{position: absolute;bottom: 15%;width: 50%;}
.owl-dots .owl-dot.active span{background:#fff;}
.site-slider .overlay{background:rgba(0, 0, 0, 0.3);height:100%;}
.owl-nav .owl-prev, .owl-nav .owl-next {padding:10px;opacity: 0.5;}
.home_banner .item{height: 90vh;float: left;width: 100%; background-size: cover;background-position:center center;}
.home_banner .inner{background-size: cover;height: 90vh;
  position: relative;z-index: 11;width:800px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.home_banner .bg{
    float: left;
    padding: 3% 5%;
    border-radius: 5px;
    width: 100%;
  }
.home_banner .item:after {position: absolute;content: '';width: 100%;height: 100vh;background: rgb(0 0 0 / 0.5);z-index: 1;top: 0;left:0;}
.home_banner .item p{color:#fff;letter-spacing: 3px;font-size: 16px;}
.divider{
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI2dnciIHZpZXdCb3g9IjAgMCAxMjgwIDE0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjZmZmZmZmIj48cGF0aCBkPSJNMTI4MCAxNDBWMFM5OTMuNDYgMTQwIDY0MCAxMzkgMCAwIDAgMHYxNDB6Ii8+PC9nPjwvc3ZnPg==);
    background-size: 100% 5vw;
    height: 5vw;
    z-index: 1;
    display: block;
    background-repeat-y: no-repeat;
    position: absolute;
    pointer-events: none;
    width: 100%;
    left: 0;
    right: 0;
}

.divider.top {
  top: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI2dnciIHZpZXdCb3g9IjAgMCAxMjgwIDE0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjZmZmZmZmIj48cGF0aCBkPSJNMTI4MCAxNDBWMFM5OTMuNDYgMTQwIDY0MCAxMzkgMCAwIDAgMHYxNDB6Ii8+PC9nPjwvc3ZnPg==);
}

.divider.bottom {
  bottom: 0;
}

.divider.inside {
  top: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI2dnciIHZpZXdCb3g9IjAgMCAxMjgwIDE0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjZmFmYWZhIj48cGF0aCBkPSJNMzIwIDI4QzE2MCAyOCA4MCA0OSAwIDcwVjBoMTI4MHY3MGMtODAgMjEtMTYwIDQyLTMyMCA0Mi0zMjAgMC0zMjAtODQtNjQwLTg0eiIvPjwvZz48L3N2Zz4=);
}
@media (min-width: 1366px) {
    #hero, .home_banner .inner, .home_banner .item{height: 600px;}
}

@media (min-width: 1024px) {
  #hero {background-attachment: fixed;}
}

@media (max-width: 768px) {
  #hero {text-align: center;}
  #hero h1 {font-size: 42px;line-height: 43px;}
  #hero h2 {font-size: 18px;line-height: 24px;margin-bottom: 30px;}
  .home_banner .para p{font-size: 20px;}
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #191919;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 30px;
  color: #f4f4f4;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
/*--------------------------------------------------------------
# Box List
--------------------------------------------------------------*/
.boxlist .inner{padding:14% 8%;}
.boxlist .box_1{background:#f68d1f;}
.boxlist .box_2{background:#258839;}
.boxlist .box_3{background:#1fa239;}
.boxlist .box_4{background:#08b129;}
.boxlist .inner .title{color:#fff;}
.boxlist .inner p{color:#fff;}
.boxlist .inner .btn_common {background:#fff;color:#f68d1f;margin-top:10px;}
.boxlist .inner .btn_common:hover {background:#FFDE07;color:#fff;}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.btn_common {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 28px;
  transition: 0.5s;
  color: #fff;
  background:#f68d1f;
}

.btn_common:hover {
  background: #000;
  color:#fff;
}
.roundbtn{border-radius:24px;}

.headerstrip{background:#24643;padding:30px 0;}
.headerstrip p{font-weight: 600;font-size: 20px;line-height: 24px;margin: 10px 0;padding:0}
.mbcenter{text-align:right;}


.about_us{background:url('assets/images/bg-about.jpg');background-size:cover;background-position:70% center;background-repeat:no-repeat;}
.about_us p{font-size: 16px;line-height: 30px;}
.about_us .title{font-weight:normal;font-size:48px;}
.about_us .rightcolumn{position:relative;}
.about_us .roundbtn{margin-top:15px;}
.about_us .roundbtn, .about_us .roundbtn:visited{color:#fff;}
.doctorimage{position:absolute;top:0;left:0;width:100%;transform: rotateY(180deg);}




/*--------------------------------------------------------------
# calltoaction
--------------------------------------------------------------*/
.calltoaction .card{padding:3%;}
.calltoaction .leftcolumn{background:rgb(10 10 10 / 67%);color:#fff;padding:5%;}
.calltoaction .rightcolumn{background:#fff;padding:5%;}

/*--------------------------------------------------------------
# blog
--------------------------------------------------------------*/
.bloglist .inner{border:1px solid #F8F6F6;position:relative;}
.bloglist .item{float:left;}
.bloglist .content{padding:20px 15px;}
.bloglist .content p{color:#A3A3A3;}
.bloglist .content h3{font-size:18px;font-weight:700;}
.bloglist .content a{text-transform:uppercase;font-size:11px;font-weight:600;margin-top:10px;color:#000;}
.bloglist .date{position:absolute;top:0;left:0;width:45px;background:#FFD200;text-align:center;color:#fff;}
.bloglist .date span{background:#FBD232;font-size:12px;line-height:12px;display:block;padding:5px;}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #f9f9f4;
  color: #676767;
  -webkit-box-shadow: 5px 1px 5px -2px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 1px 5px -2px rgba(0,0,0,0.5);
  box-shadow: 5px 1px 5px -2px rgba(0,0,0,0.5);
}
#footer .textwidget{font-size: 16px;line-height: 28px;}
.footercolumnline{background:#F0F1F1;height:1px;}
.footerlinks{width:100%;float:left;padding-right: 2%;padding-bottom: 0;}
.footerlinks li a:hover{color: #f68d1f;}
.footerlinks li a:hover .fa{color: #f68d1f;}
.footerlinks .widget-title{font-size:20px;font-weight:600;color:#656565;text-transform:uppercase;margin-bottom: 15px;}
#footer .copyright {color:#676767;}

.footerlinks ul{margin:0;padding:0;width:100%;float:left;text-align: center;}
.footerlinks li{margin:0;padding:0 10px;list-style:none;display: inline-block;}
.footerlinks li a{color:#676767;padding:4px 0px;float:left;width:100%;font-size:16px;}
.footerlinks p{color:#676767;font-size:16px;line-height:2;}
.footerlinks .textwidget img{margin-top: -6px;width: 180px}
.footerlinks ul.social{margin-top:10px;}
.footerlinks h5{font-size: 16px;color: #080b1c;font-weight: 600;}
.footerlinks h5.first{margin-top: 10px;}
.footerlinks h5.second{margin-top: 10px;}

.copyright_row{margin-top:44px;}
.copyrightlinks p{color:#676767;font-size:13px;padding-right:10%;}
.copyrightlinks{margin:5px 0 0 0;float:right;}
.copyrightlinks li{margin:0;padding:0;list-style:none;float:left;}
.copyrightlinks li a{color:#676767;padding:0 5px;border-right:1px solid #A5A5A5;line-height: 10px;float:left;width:100%;}
.copyrightlinks li:last-child a{border:none;}

.copyright {
    padding: 15px 0;
    background: #2C2C2C;
}
.copyright p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #777777;
}
.social{
  margin:0;
  padding: 3px 0 0;
}
.copyright .social {
  float: right;
}
.social li{margin:0;padding:0;list-style:none;float:left;width: 32px;text-align: center;}
.social li a{color:#777;}
.social li:hover a{color:#f68d1f;}
.footerlinks:nth-child(4) a {color: #f68d1f;}
.footerlinks:nth-child(4) a:hover .fa{color: #37b449;}
