
.cookcodesmenu_menu .cta{
  background: #fff;
      padding: 10px;
      float: left;
      width: 100%;
      text-align: center;
}
.cookcodesmenu_menu .cta .btn{float: left;}
.cookcodesmenu_nav .current_page_parent,
.cookcodesmenu_nav .current_page_item,
.cookcodesmenu_nav li:hover{background:#BA4D03;color:#fff;transition: all ease-in-out 0.3s;}
.cookcodesmenu_nav .current_page_parent a,
.cookcodesmenu_nav .current_page_item a,
.cookcodesmenu_nav li:hover a{color:#fff;}
.cookcodesmenu_menu img {
    width: 92px;
}
.cookcodesmenu_menu{background:#fff;
webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.1);padding:0.5% 0;}
.cookcodesmenu_nav{background:#F4690A;}
.cookcodesmenu_menu .cookcodesmenu_icon-bar {
  background-color: #F4690A;
}

.cookcodesmenu_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer;
}

.cookcodesmenu_btn .cookcodesmenu_icon-bar + .cookcodesmenu_icon-bar {
  margin-top: 0.188em;
}

.cookcodesmenu_menu {
  *zoom: 1;
}

.cookcodesmenu_menu .cookcodesmenu_menutxt {
  display: block;
  line-height: 1.388em;
  float: left;
}

.cookcodesmenu_menu .cookcodesmenu_icon {
  float: left;
  width: 30px;
  height: auto;
  margin: 0.188em 0 0 0.438em;
}

.cookcodesmenu_menu .cookcodesmenu_icon:before {
  background: transparent;
  width: 30px;
  height: auto;
  display: block;
  content: "";
  position: absolute;
}

.cookcodesmenu_menu .cookcodesmenu_no-text {
  margin: 0;
}

.cookcodesmenu_menu .cookcodesmenu_icon-bar {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 4px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.cookcodesmenu_menu:before {
  content: " ";
  display: table;
}

.cookcodesmenu_menu:after {
  content: " ";
  display: table;
  clear: both;
}

.cookcodesmenu_nav {
  clear: both;
}

.cookcodesmenu_nav ul {
  display: block;
}

.cookcodesmenu_nav li {
  display: block;
}

.cookcodesmenu_nav .cookcodesmenu_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em;
  float: right;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 15px;
  font-size: 15px;
}

.cookcodesmenu_nav .cookcodesmenu_item {
  cursor: pointer;
}

.cookcodesmenu_nav .cookcodesmenu_item a {
  display: inline;
}

.cookcodesmenu_nav .cookcodesmenu_row {
  display: block;
}

.cookcodesmenu_nav a {
  display: block;
}

.cookcodesmenu_nav .cookcodesmenu_parent-link a {
  display: inline;
}

.cookcodesmenu_brand {
  float: left;
}

.menuHidden {
  display: none !important;
}

.cookcodesmenu_menu {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          z-index: 11;
        width: 100%;
        position: absolute;
        top:0;
}

.cookcodesmenu_menu * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cookcodesmenu_menu .cookcodesmenu_menutxt {
  color: #fff;
  font-weight: bold;
}


.cookcodesmenu_btn {
  margin: 20px 5px 6px;
  text-decoration: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
}

.cookcodesmenu_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
  overflow: hidden;
}

.cookcodesmenu_nav li {
  line-height: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.cookcodesmenu_nav li a {
  padding: 0 15px;
}

.cookcodesmenu_nav ul li::before {
    width: 10px;
    height: 10px;
    z-index: 1;
    left: 24px;
    top: 14px;
    position: absolute;
    font: normal normal normal 11px/1 FontAwesome;
    font-weight: 900;
    content: "\f105";
    color: #fff;
}

.cookcodesmenu_nav ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin:0;
}

.cookcodesmenu_nav ul li a {
  padding-left: 45px;
}

.cookcodesmenu_nav ul li ul li a {
  padding-left: 70px;
}

.cookcodesmenu_nav .cookcodesmenu_row:hover {
  border-radius: 6px;
  background: none;
}

.cookcodesmenu_nav a {
  text-decoration: none;
  color: #fff;
}

.cookcodesmenu_nav a:hover {
  text-decoration: none;
}

.cookcodesmenu_nav a:focus {
  text-decoration: none;
}

.cookcodesmenu_nav .cookcodesmenu_txtnode {
  margin-left: 15px;
}

.cookcodesmenu_nav .cookcodesmenu_item a {
  padding: 0;
  margin: 0;
}

.cookcodesmenu_nav .cookcodesmenu_parent-link a {
  padding: 0;
  margin: 0;
}

.cookcodesmenu_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 70px;
}
